.title {
    text-align: center;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 960px; /* static */
    height: 960px; /* static */
    gap: 2px;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
