.title {
    text-align: center;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.square {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
